.container1 {
    position: relative;
    font-family: Arial;
    width:100%;
}

.text-block1 {
    position: absolute;
    width:100%;
    bottom:10px;
    text-align: center;
    background-color: teal;
    color: white;
    }
    #i1{
        width:100%;
    }
.container2 {
    position: relative;
    font-family: Arial;
    float:left;
}

.text-block2 {
    position: absolute;
    width:100%;
    bottom:10px;
    text-align: center;
    background-color: teal;
    color: white;
    float:left;
}
#i2{
    width:100%;
    float:left;
}
.container3 {
    position: relative;
    font-family: Arial;
    float:left;
    }

.text-block3 {
    position: absolute;
    width:100%;
    bottom:10px;
    text-align: center;
    background-color: teal;
    color: white;
}
#i3{
    width:100%;
    float:left;
}
.container4 {
    position: relative;
    font-family: Arial;
    float:left;
    
    }

.text-block4 {
    position: absolute;
    width:100%;
    bottom:10px;
    text-align: center;
    background-color: teal;
    color: white;
    float:left;
}
#i4{
    width:100%;
    float:left;
}
.container5 {
    position: relative;
    font-family: Arial;
    float:left;
    }

.text-block5 {
    position:absolute;
    text-align: center;
    background-color: teal;
    color: white;
    width:100%;
    bottom:10px;
    float:left;
}
#i5{
    width:100%;
    float:left;
}
#s1{
    width:20%;
    height:100%;
    float:left;
    background-color: teal;
    border:teal thin solid;
    color:#ffffff;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#s2{
    float:left;
    width:10%;
}
#s3{
    float:left;
    width:15%;
    margin-top:3%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-right: black solid thin;
}
#s3:hover{
    background-color: crimson;
}
#s4{
    float:left;
    width:15%;
    margin-top:3%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border-right:black solid thin;
}
#s4:hover{
    background-color: springgreen;
}
#s5{
    float:left;
    width:15%;
    margin-top:3%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#s5:hover{
    background-color: tomato;
}
#maincontent{
background-color: #ffffff;
border: #dddddd solid thick;
color:teal;
margin-left:10%;
margin-right:10%;
margin-top:10%;
width:60%;
padding-left: 2%;
padding-right:2%;
font-family: 'Georgia', Times, Times New Roman, serif;
}
body{
background-color: steelblue;
}
#footer{
background-color: #666666;
color:#ffffff;
text-align: center;
border: thick solid #666666 ;
border-top-color: teal;
height:5%;
position:fixed;
bottom:0px;
left:0px;
right:0px;
}
#heading{
position:fixed;
background-color:white;
top:0px;
left:0px;
right:0px;
width:100%;
height:9%;
border: #cccccc thick solid;
}
td{
    padding:2%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}